{{> nav/nav-block}}

<body class="restaurantdetails">

  <div class="container">
    <div class="row rowcenter pt-5 pl-5">

     <div class="col-md-4 col-xs-12">
        <div class="card border-dark mt-4">
          <div class="card-header bg-dark text-center ltBlue"><h4>Favorite Foods & Drinks</h4></div>
            <div class="card-body"> 
              <form id="create-form" class="text-center">
                <div class="form-group">                  
                  <input placeholder="Food or Drink Name..." type="text" class="form-control" id="item-name">
                  <br> 
                    <select class="custom-select" id="item-rating">
                      <option value="">Select Rating...</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  <br>
                  <br>
                  <button class="btn bg-dark text-center ltBlue" id="create-submit">Add to favorites!</button>
                </div>
              </form>              
                <ul id="item-list" class="list-group">
                  {{#each items}}
                  <li data-id="{{this.id}}" class="list-group-item darkBlue">
                    <span>{{this.name}}</span>
                    <br>
                    <span>{{this.rating}}/5</span>
                    <button class="btn btn-danger float-end delete">ｘ</button>
                  </li>
                  {{/each}}
                </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-xs-12">
        <div class="card border-dark mt-4">
          <div class="card-header bg-dark text-center ltBlue"><h4>Restaurant</h4></div>
            <div class="card-body">          
                <strong>Name</strong>: {{restaurant.name}}</p>
              <p>
                <strong>Description:</strong> {{restaurant.description}}</p>
              <p>
            </div>
        </div>
      </div>
      
      <div class="col-md-4 col-xs-12">
        <div class="card border-dark mt-4">
          <div class="card-header bg-dark text-center ltBlue"><h4>Search</h4></div>
            <div class="card-body">          
              <form id="create-form" class="text-center p-3">
                <div class="input-group mb-3">
                    <input id="search-input" type="text" class="form-control" placeholder="Seach your favorites here...">
                </div>
                    <button id="search-submit" class="btn bg-dark ltBlue">Click to search!</button>
              </form>
            </div>
        </div>      
      </div>

    </div>
  </div>

  <div class="text-center pt-5 pl-5">
      <button class="btn btn-lg bg-dark ltBlue" type="submit">
      <a href="/restaurant"><div class="linkbtn">Back to Restaurant Page</div></a>
      </button>
  </div>

</body>

<script src="/assets/js/restaurant-detail.js"></script>
{{> modal/login-block}}

<script>
  var restaurantId = {{ restaurantId }};
</script>
